<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o transferencia bancaria. Si querés pagar en efectivo, podes visitar nuestro showroom en Tigre.</h2>
                    <p>Tenemos hasta 3 cuotas sin interés, y si realizas una transferencia o pagas en efectivo tenés un 15% off.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 30.000</h2>
                    <p>Luego de tu primera compra, si te registras en nuestra página web, te enviaremos 3 cupones de envío gratis.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Dar la mejor calidad, nuestra prioridad.</h2>
                    <p>¿Necesitas cambiar o devolver algún producto? Tenés 15 días para hacerlo. Cualquier consulta, comuniquese con nosotros por WhatsApp o mail.</p>
                </article>
            </div>
        </div>
    </div>
</footer>