<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-  include('./partials/head')%>

<body>
	<!-- Header -->
	<%-  include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/register" method="get">
				<label for="email">Email:</label><br>
				<input type="email" id="email" name="email" required><br>
				
				<label for="user">Usuario:</label><br>
				<input type="text" id="user" name="user" required><br>

				<label for="password">Contraseña:</label><br>
				<input type="password" id="password" name="password" required>

				<label for="nacimiento">Fecha de nacimiento:</label><br>
				<input type="date" id="nacimiento" name="nacimiento" required><br>

				<label for="dni">DNI:</label><br>
				<input type="number" id="dni" name="dni" required><br>

				<label for="profile">Foto de perfil (URL):</label><br>
				<input type="text" id="profile" name="profile" required><br>

				<input type="submit" value="Registrarse">
			</form>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>